---
title: Addition
subtitle: add
symbol: "&plus;"
level: 2

answer_file_level: ""
answer_col_size: 3

math_start: 10
math_end: 99
math_row_size: 2
math_q_size: 20
---
<!doctype html>
<html lang="en" class="h-100">

{% include head.html %}

<body class="d-flex h-100 text-center user-select-none">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {% include header2.html %}

        <main class="overflow-auto px-3">
            <div id="math-content" class="font-monospace my-5">


{% assign col_size = 2 %}
{% assign level = 1 %}
{% include question.html %}

{% assign symbol = page.symbol %}

{% assign level = 2 %}
{% include question.html %}

{% include answer_final.html %}

            </div>
        </main>

{% include footer.html %}

    </div>

{% include toasts.html %}

{% include scripts.html %}

{% include script.html %}

{% include script_simple.html %}

</body>

</html>