---
title: Addition
subtitle: add
symbol: "&plus;"
level: 2

math_start: 10
math_end: 99
math_row_size: 2
math_q_size: 20
---
<!doctype html>
<html lang="en" class="h-100">

{% include head.html %}

<body class="d-flex h-100 bg-dark text-white text-center user-select-none">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {% include header2.html %}

        <main class="overflow-auto px-3">
            <div id="math-content" class="font-monospace my-5">

                <div class="row ">
                    <div class="col">&nbsp;</div>
                    <div class="col position-relative"><span id="l1_2" class="num">&nbsp;</span><span class="position-absolute start-50 translate-middle num_hint">&nbsp;</span></div>
                    <div class="col"><span id="l1_1" class="num">&nbsp;</span></div>
                    <div class="col">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col">&plus;</div>
                    <div class="col"><span id="l2_2" class="num">&nbsp;</span></div>
                    <div class="col"><span id="l2_1" class="num">&nbsp;</span></div>
                    <div class="col">&nbsp;</div>
                </div>
                <div class="row border-top border-bottom border-5">
                    <div class="col position-relative border border-1 border-dashed border-secondary">
                        <input id="a3" type="number" class="bg-dark text-white form-control text-center border-0 p-0" pattern="[0-9]*" inputmode="numeric" maxlength="1" max="9" min="0"/>
                        <span class="position-absolute top-0 answer text-danger"></span>
                    </div>
                    <div class="col position-relative border border-1 border-dashed border-secondary">
                        <input id="a2" type="number" class="bg-dark text-white form-control text-center border-0 p-0" pattern="[0-9]*" inputmode="numeric" maxlength="1" max="9" min="0"/>
                        <span class="position-absolute top-0 answer text-danger"></span>
                    </div>
                    <div class="col position-relative border border-1 border-dashed border-secondary">
                        <input id="a1" type="number" class="bg-dark text-white form-control text-center border-0 p-0" pattern="[0-9]*" inputmode="numeric" maxlength="1" max="9" min="0"/>
                        <span class="position-absolute top-0 answer text-danger"></span>
                    </div>
                    <div id="mark" class="col mark0">&nbsp;</div>
                </div>
                <div class="row border-top border-3 mt-1"></div>

            </div>
        </main>

{% include footer.html %}

    </div>

{% include toasts.html %}

{% include scripts.html %}

{% include script.html %}

{% include script_simple.html %}

</body>

</html>