---
title: Division
subtitle: div
symbol: "&divide;"
level: 2

math_start: 2
math_end: 12
math_row_size: 2
math_q_size: 20
---
<!doctype html>
<html lang="en" class="h-100">

{% include head.html %}

<body class="d-flex h-100 text-center user-select-none">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {% include header2.html %}

        <main class="overflow-auto px-3">
            <div id="math-content" class="font-monospace my-5">

{% assign no_border = true %}
{% assign col_size = 5 %}
{% assign level = 1 %}
{% assign start_input = 2 %}
{% include answer.html %}

                <div class="row">
                    <div class="col-2"><span id="l2_2" class="num">&nbsp;</span></div>
                    <div class="col-2"><span id="l2_1" class="num">&nbsp;</span></div>
                    <div class="col-2 border-top border-start border-5 border-dark"><span id="l1_3" class="num">&nbsp;</span></div>
                    <div class="col-2 border-top border-5 border-dark"><span id="l1_2" class="num">&nbsp;</span></div>
                    <div class="col-2 border-top border-5 border-dark"><span id="l1_1" class="num">&nbsp;</span></div>
                    <div class="col-1">&nbsp;</div>
                </div>

{% assign col_size = 5 %}
{% assign level = 3 %}
{% assign start_input = 3 %}
{% assign answer_symbol = "&minus;" %}
{% assign answer_symbol_position = 4 %}
{% include answer.html %}

{% assign no_border = false %}
{% assign level = 2 %}
{% assign start_input = 2 %}
{% assign answer_symbol = "" %}
{% include answer.html %}

            </div>
        </main>

{% include footer.html %}

    </div>

{% include toasts.html %}

{% include scripts.html %}

{% include script.html %}

    <script>
        function checkAnswer() {
            saveAnswer();

            $(".mark0").html("").removeClass("text-success").removeClass("text-danger");
            $("#math-content input").prop('readonly', true);
            $("#btnSubmit").prop('disabled', true);

            const q = qList[currentQ];
            const a1 = aList[currentQ].a1;
            const a2 = aList[currentQ].a2;
            const a = mathDiv2(q);

            aList[currentQ].m1 = false;
            aList[currentQ].m2 = false;
            aList[currentQ].m = false;

            if (a.a1 === a1) {
                $("#mark1").html("&check;").addClass("text-success")
                aList[currentQ].m1 = true;
            } else {
                $("#mark1").html("&cross;").addClass("text-danger")
            }

            if (a.a2 === a2) {
                $("#mark2").html("&check;").addClass("text-success")
                aList[currentQ].m2 = true;
            } else {
                $("#mark2").html("&cross;").addClass("text-danger")
            }

            if (aList[currentQ].m1 && aList[currentQ].m2) aList[currentQ].m = true;
        }

        function checkAnswerAll() {
            checkAnswer();

            qList.forEach(function(q, i) {
                const a1 = aList[i].a1;
                const a2 = aList[i].a2;
                const a = mathDiv2(q);

                aList[i].m1 = false;
                aList[i].m2 = false;
                aList[i].m = false;

                if (a.a1 === a1) aList[i].m1 = true;
                if (a.a2 === a2) aList[i].m2 = true;
                if (aList[i].m1 && aList[i].m2) aList[i].m = true;
            })
            const c = aList.filter(function (a) {
                return a.m;
            })

            const cp = parseInt((c.length * 100) / qSize);
            $("#score").html(cp + "%")
            $(".toast").removeClass("show")
            stopTime = true;
        }
    </script>
</body>

</html>