---
title: Multiplication
subtitle: mul
symbol: "&Cross;"
level: 2

answer_file_level: ""
answer_col_size: 5
answer_start_input: 2

math_start: 11
math_end: 99
math_row_size: 2
math_q_size: 20
---
<!doctype html>
<html lang="en" class="h-100">

{% include head.html %}

<body class="d-flex h-100 text-center user-select-none">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {% include header2.html %}

        <main class="overflow-auto px-3">
            <div id="math-content" class="font-monospace my-5">

{% assign col_size = 4 %}
{% assign level = 1 %}
{% include question.html %}

{% assign symbol = page.symbol %}
{% assign level = 2 %}
{% include question.html %}

{% assign col_size = 5 %}
{% assign level = 3 %}
{% assign start_input = 3 %}
{% include answer.html %}

{% assign answer_symbol = "&plus;" %}
{% assign level = 2 %}
{% assign no_border = true %}
{% assign start_input = false %}
{% assign end_input = 2 %}
{% include answer.html %}

{% include answer_final.html %}

            </div>
        </main>

{% include footer.html %}

    </div>

{% include toasts.html %}

{% include scripts.html %}

{% include script.html %}

{% include script_simple.html %}
    
</body>

</html>