---
title: Subtraction
subtitle: sub
symbol: "&minus;"
level: 3

answer_file_level: "2_"
answer_col_size: 4

math_start: 100
math_end: 999
math_row_size: 3
math_q_size: 20
---
<!doctype html>
<html lang="en" class="h-100">

{% include head.html %}

<body class="d-flex h-100 text-center user-select-none">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {% include header2.html %}

        <main class="overflow-auto px-3">
            <div id="math-content" class="font-monospace my-5">


{% assign col_size = 3 %}
{% assign level = 1 %}
{% include question.html %}

{% assign symbol = page.symbol %}
{% assign level = 2 %}
{% include question.html %}

{% assign col_size = 4 %}
{% assign level = 1 %}
{% include answer.html %}

{% assign col_size = 3 %}
{% assign symbol = page.symbol %}
{% assign level = 3 %}
{% include question.html %}

{% include answer_final.html %}

            </div>
        </main>

{% include footer.html %}

    </div>

{% include toasts.html %}

{% include scripts.html %}

{% include script.html %}

    <script>
        function checkAnswer() {
            saveAnswer();

            $(".mark0").html("").removeClass("text-success").removeClass("text-danger");
            $(".answer").html("");
            $("#math-content input").prop('readonly', true);
            $("#btnSubmit").prop('disabled', true);

            const q = qList[currentQ];
            const a1 = aList[currentQ].a1;
            const a2 = aList[currentQ].a2;
            const a = mathSub2(q);

            aList[currentQ].m1 = false;
            aList[currentQ].m2 = false;
            aList[currentQ].m = false;

            if (a.a1 === a1) {
                $("#mark1").html("&check;").addClass("text-success")
                aList[currentQ].m1 = true;
            } else {
                $("#mark1").html("&cross;").addClass("text-danger")
                setCorrectAnswer(a.a1, 1)
            }

            if (a.a2 === a2) {
                $("#mark2").html("&check;").addClass("text-success")
                aList[currentQ].m2 = true;
            } else {
                $("#mark2").html("&cross;").addClass("text-danger")
                setCorrectAnswer(a.a2, 2)
            }

            if (aList[currentQ].m1 && aList[currentQ].m2) aList[currentQ].m = true;
        }

        function setCorrectAnswer(a, l) {
            if (l) l = l + "_"
            else l = ""
            const arr = []
            for (var i = 10; i > 0; i--) {
                if (a) {
                    const aa = getDigit(a, i)
                    if (!aa && arr.length === 0) continue;

                    arr.push(aa);
                    $("#ah" + l + i).html(aa);
                }

                // const b = aList[currentQ]["a" + i];
                // const brr = []

                // if (b) {
                //     for (var j = 10; j > 0; j--) {
                //         const bb = getDigit(b, j)
                //         if (!bb && brr.length === 0) continue;

                //         brr.push(bb);
                //         $("#a" + i + "_" + j).val(bb);
                //     }
                // }
            }
        }

        function checkAnswerAll() {
            checkAnswer();

            qList.forEach(function(q, i) {
                const a1 = aList[i].a1;
                const a2 = aList[i].a2;
                const a = mathSub2(q);

                aList[i].m1 = false;
                aList[i].m2 = false;
                aList[i].m = false;

                if (a.a1 === a1) aList[i].m1 = true;
                if (a.a2 === a2) aList[i].m2 = true;
                if (aList[i].m1 && aList[i].m2) aList[i].m = true;
            })
            const c = aList.filter(function (a) {
                return a.m;
            })

            const cp = parseInt((c.length * 100) / qSize);
            $("#score").html(cp + "%")
            $(".toast").removeClass("show")
            stopTime = true;
        }
    </script>

</body>

</html>