{% assign answer_symbol_position = answer_symbol_position | default: col_size %}

                <div class="row {% unless no_border %}border-top border-5 border-dark{% endunless %}">
{% for i in (1..col_size) reversed %}
{% if i == col_size and page.symbol == "&minus;" %}
                    <div class="col">&nbsp;</div>
{% elsif i == col_size and answer_symbol and answer_symbol_position == col_size %}
                    <div class="col text-secondary symbol0" style="font-size: 104px;">{{ answer_symbol }}</div>
{% elsif i == answer_symbol_position and answer_symbol %}
                    <div class="col text-secondary symbol0" style="font-size: 104px;">{{ answer_symbol }}</div>
{% elsif start_input and i > start_input %}
                    <div class="col">&nbsp;</div>
{% elsif end_input and i < end_input %}
                    <div class="col">&nbsp;</div>
{% else %}
                    <div class="col position-relative border border-1 border-dashed border-secondary">
                        <input id="a{{ level }}_{{ i }}" type="number" class="form-control text-center border-0 p-0" pattern="[0-9]*" inputmode="numeric" maxlength="1" max="9" min="0"/>
                        <span id="ah{{ level }}_{{ i }}" class="position-absolute top-0 answer text-danger"></span>
                    </div>
{% endif %}
{% endfor %}
                    <div id="mark{{ level }}" class="col mark0">&nbsp;</div>
                </div>