        <footer class="mt-auto text-white-50">
            <div class="row py-1">
                <div class="col-5 d-grid"><button id="btnLeft" type="button" class="btn btn-success btn-lg btn-arrow"><i class="bi-chevron-double-left"></i></button></div>
                <div class="col-2 d-grid"><button id="btnSubmit" type="button" class="btn btn-primary btn-lg"><i class="bi-send"></i></button></div>
                <div class="col-5 d-grid"><button id="btnRight" type="button" class="btn btn-success btn-lg btn-arrow"><i class="bi-chevron-double-right"></i></button></div>
            </div>
        </footer>