        <header class="mb-auto">
            <div class="border-bottom border-1 border-dark">
                <h3 class="float-md-start mb-0">MathLagi : <span class="font-monospace">{{ page.symbol }}</span> : <span class="font-monospace">{{ page.level }}</span></h3>
                
                <nav class="nav justify-content-end">
                    <a id="btnHome" class="nav-link ps-0" href="index.html"><i class="bi-house"></i> Home</a>
                    <a id="btnLevel" class="nav-link ps-0" href="{{ page.subtitle }}.html"><i class="bi-speedometer"></i> Level</a>
                    <a id="btnRestart" class="nav-link ps-0" href="#"><i class="bi-arrow-clockwise"></i> Restart</a>
                    <a id="btnSubmitAll" class="nav-link ps-0" href="#"><i class="bi-send"></i> Done</a>
                </nav>
            </div>

            <div class="border-bottom border-1 border-dark pt-1 pb-0">
                <div class="row px-4">
                    <div id="timer" class="col h4 align-self-start text-start">&nbsp;</div>
                    <div id="posQ"  class="col h4 align-self-center text-center">&nbsp;</div>
                    <div id="score" class="col h4 align-self-end text-end">&nbsp;</div>
                </div>
            </div>
        </header>