    <script>
        function checkAnswer(pos, noStyleChange) {
            if (isNaN(pos))
                pos = currentQ;

            saveAnswer(pos);

            if (!noStyleChange)
                $(".mark0").html("").removeClass("text-danger").removeClass("text-success");

            const q = qList[pos];
            const a = aList[pos].a;
            aList[pos].m = false;

            var corrent = false;
            switch (operation) {
                case "&minus;":
                    if (mathSub(q) === a) corrent = true;
                    break;
                case "&plus;":
                    if (mathSum(q) === a) corrent = true;
                    break;
                case "&Cross;":
                    if (mathMul(q) === a) corrent = true;
                    break;
                case "&divide;":
                    if (mathDiv(q) === a) corrent = true;
                    break;
            }

            if (corrent) {
                if (!noStyleChange)
                    $("#mark").html("&check;").addClass("text-success")
                aList[pos].m = true;
            } else {
                if (!noStyleChange)
                    $("#mark").html("&cross;").addClass("text-danger")
            }

            if (!noStyleChange) {
                $("#math-content input").prop('readonly', true);
                $("#btnSubmit").prop('disabled', true);
            }
        }

        function checkAnswerAll() {
            checkAnswer();
            qList.forEach(function(q, i) {
                checkAnswer(i, true)
            })

            const c = aList.filter(function (a) {
                return a.m;
            })

            const cp = parseInt((c.length * 100) / qSize);
            $("#score").html(cp + "%")
            $(".toast").removeClass("show")
            stopTime = true;
        }
    </script>