    <script>
        const start = parseInt("{{ page.math_start }}");
        const end = parseInt("{{ page.math_end }}");
        const lSize = parseInt("{{ page.math_row_size }}");
        const qSize = parseInt("{{ page.math_q_size }}");
        const level = parseInt("{{ page.level }}");
        const operation = "{{ page.symbol }}";

        var currentQ = 0;
        var time = getTime();

        var qList = [];
        var aList = [];

        var stopTime = false;
        
        $(document).ready(function () {
            resizeFont();
            $("input").on("input", fixInput)
            $(window).resize(resetFont);

            init();
            
            $("#btnRight").click(nextQuestion)
            $("#btnLeft").click(prevQuestion)
            
            $("#btnRestart").click(function () {show($("#toastRestart"))})
            $("#btnSubmit").click(function () {show($("#toastSubmit"))})
            $("#btnSubmitAll").click(function () {show($("#toastSubmitAll"))})

            $("#btnRestartYes").click(function() {
                hide($(this).parents(".toast"));
                init();
            })
            $("#btnSubmitAllYes").click(function() {
                hide($(this).parents(".toast"))
                checkAnswerAll()
            });
            $("#btnSubmitYes").click(function() {
                hide($(this).parents(".toast"))
                checkAnswer()
            });
            $(".btn-close-toast").click(function () {
                hide($(this).parents(".toast"))
            })

            $(".num").click(setNumHint) 
        });

        function init() {
            qList = genQuestions(qSize, lSize, start, end, operation === "&minus;");
            aList = genAnswers(qSize);

            if (operation === "&divide;") {
                qList.forEach(function (q) {
                    q.unshift(q[0] * q[1])
                    q.pop()
                    if (level > 1) {
                        q.push(genNum(0, q[1]))
                        q[0] += q[2]
                    }
                })
            } else if (operation === "&minus;" && lSize === 3) {
                qList.forEach(function (q) {
                    var diff = q[0] - q[1];
                    const endPos = Math.pow(10, (end + "").length-1)
                    
                    if (diff > endPos)
                        q[2] = q[2];
                    else if (end - q[0] < (endPos * 2))
                        q[1] -= endPos;
                    else
                        q[0] += endPos;

                    diff = q[0] - q[1];

                    q[2] = genNum(endPos, diff)
                })
            }

            time = getTime();
            stopTime = false;
            setTime();
            
            currentQ = 0
            setQuestion(currentQ);
            
            $(".toast").removeClass("show");
            $("#score").html("");
        }

        function nextQuestion() {
            currentQ++;
            if (currentQ >= qSize - 1) currentQ = qSize - 1;
            setQuestion(currentQ)
        }

        function prevQuestion() {
            currentQ--;
            if (currentQ <= 0) currentQ = 0;
            setQuestion(currentQ)
        }

        function genQuestions(size, rowSize, start, end, sort) {
            sort = sort || false;
            const questions = [];
            while (questions.length < size) {
                const rows = [];
                while (rows.length < rowSize) {
                    rows.push(genNum(start, end))
                }
                if (sort) {
                    rows.sort(function (a, b) { return b - a; });
                }
                const arr = questions.map(function (rArr) {
                    return rArr.join(":");
                })
                if (!arr.includes(rows.join(":"))) {
                    questions.push(rows);
                }
            }
            return questions;
        }

        function genAnswers(size) {
            const answers = [];
            while (answers.length < size) {
                answers.push({ a: 0 })
            }
            return answers;
        }

        function setQuestion(num) {
            $(".num_hint").html("")
            $(".num").html("").removeClass("text-decoration-line-through");

            const q = qList[num];

            q.forEach(function (qNum, i) {
                const qNumR = getReverseNum(qNum);
                qNumR.forEach(function (qCol, j) {
                    $("#l" + (i + 1) + "_" + (j + 1)).html(qCol);
                })
            })
            
            $(".btn-arrow").removeClass("d-none");
            if (currentQ >= qSize - 1) $("#btnRight").addClass("d-none");
            else if (currentQ === 0)   $("#btnLeft").addClass("d-none");
            
            setAnswer();
            $("#posQ").html((currentQ + 1) + " / " + qSize)
        }

        function resetFont() {
            fs = 10;
            resizeFont();
        }

        var fs = 40;
        function resizeFont() {
            fs++;
            setFontSize(fs);
            if ($("#math-content").parent().height() + 1 < $("#math-content").parent()[0].scrollHeight) {
                fs--;
                setFontSize(fs);
                return;
            }
            if ($("#math-content").eq(0).width() + 20 < $("#math-content").eq(0)[0].scrollWidth) {
                return;
            }
            if (fs < 1000) resizeFont();
        }

        function setFontSize(size) {
            var hSize = toInt(size / 6)
            if (hSize < 20) hSize = 20;
            var nSize = toInt(size / 5)
            if (nSize < 20) nSize = 20;
            var iSize = toInt(size / 3) * 2;
            var aSize = toInt(iSize / 3);
            if (aSize < 20) aSize = 20;
            $("#math-content").css({ 'font-size': size + "px" });
            $("#math-content input").css({ 'font-size': iSize + "px" });
            $("#math-content>div.row").css({ "line-height" : size + "px" });
            $("#timer").css({ 'font-size': hSize + "px" });
            $("#posQ").css({ 'font-size': hSize + "px" });
            $("#score").css({ 'font-size': hSize + "px" });
            $(".num_hint").css({ 'font-size': nSize + "px" });
            $(".num_hint_right").css({ 'font-size': nSize + "px" });
            $(".answer").css({ 'font-size': aSize + "px" });
            $(".answer").css({ 'line-height': aSize + "px" });
            $(".mark0").css({ 'font-size': iSize + "px" });
            $(".symbol0").css({ 'font-size': iSize + "px" });
            $("#mark").css({ 'font-size': iSize + "px" });
        }

        function fixInput(that) {
            $("#math-content input").each(function () {
                if ($(this).val() === "") return;
                if (toInt($(this).val()) != $(this).val()) {
                    $(this).val(toInt($(this).val()))
                }
                while ($(this).val().length > this.maxLength) {
                    $(this).val(toInt($(this).val()/10))
                }
            });

            const el = $(that.currentTarget)[0];
            if (($(el).val() || "").length >= el.maxLength) {
                $(el).parent().next("div").children("input").focus();
            }
            saveAnswer();
        }

        function saveAnswer() {
            const a = [];
            for (var i = 1; i < 10; i++) {
                a.push($("#a" + i).val() || 0)
                const aa = [];

                for (var j = 1; j < 10; j++) {
                    aa.push($("#a" + i + "_" + j).val() || 0)
                }
                const num = toInt(aa.reverse().join(""));
                if (num > 0 || aList[currentQ]["a" + i])
                    aList[currentQ]["a" + i] = num;
            }
            aList[currentQ].a = toInt(a.reverse().join(""));
        }

        function setAnswer() {
            $("#math-content input").prop('readonly', false);
            $("#math-content input").val("")
            $(".mark0").html("").removeClass("text-danger").removeClass("text-success");
            $("#mark").html("").removeClass("text-danger").removeClass("text-success");
            $(".answer").html("")

            const a = aList[currentQ].a;
            const arr = []
            for (var i = 10; i > 0; i--) {
                if (a) {
                    const aa = getDigit(a, i)
                    if (!aa && arr.length === 0) continue;

                    arr.push(aa);
                    $("#a" + i).val(aa);
                }

                const b = aList[currentQ]["a" + i];
                const brr = []

                if (b) {
                    for (var j = 10; j > 0; j--) {
                        const bb = getDigit(b, j)
                        if (!bb && brr.length === 0) continue;

                        brr.push(bb);
                        $("#a" + i + "_" + j).val(bb);
                    }
                }
            }

            $("#btnSubmit").prop('disabled', false);
            if (typeof aList[currentQ].m === "boolean")
                checkAnswer()
        }

        function setCorrectAnswer(a, l) {
            if (l) l = l + "_"
            else l = ""
            const arr = []
            for (var i = 10; i > 0; i--) {
                if (a) {
                    const aa = getDigit(a, i)
                    if (!aa && arr.length === 0) continue;

                    arr.push(aa);
                    $("#ah" + l + i).html(aa);
                }
            }
        }

        function setNumHint(that) {
            const $numEl = $(that.currentTarget);
            const num = toInt($numEl.html())

            const $hintEl = $numEl.next(".num_hint");
            const hintNum = toInt($hintEl.html())

            if ($hintEl.length === 0) return;
            
            const hasHint = $numEl.hasClass("text-decoration-line-through");
            const isBorrowed = hasHint && (hintNum % 10 - num !== 0)
            
            var newHintNum = hintNum;

            if (operation === "&minus;") {
                const $prevEl = $numEl.parent().prev().find(".num").eq(0);
                if ($prevEl.length === 0) return;
                if (num === 0 && hintNum === 9) return;

                $numEl.removeClass("text-decoration-line-through");

                if (hasHint) {
                    if (hintNum > 9)
                        newHintNum = hintNum % 10;
                    else
                        newHintNum = hintNum + 10;
                } else {
                    newHintNum = num + 10
                }

                if (newHintNum === num) newHintNum = ""

                if (newHintNum !== "") {
                    $numEl.addClass("text-decoration-line-through");
                }

                $hintEl.html(newHintNum);

                setSubHint($numEl, !isBorrowed);

            } else if (operation === "&plus;") {
                newHintNum++;
                newHintNum = newHintNum % lSize;
                if (newHintNum === 0) newHintNum = ""
                $hintEl.html(newHintNum)
            }
        }

        function setSubHint(el, returned) {
            const $numEl = el.parent().prev().find(".num").eq(0);
            const num = toInt($numEl.html());

            const $hintEl = $numEl.parent().find(".num_hint").eq(0);
            const hintNum = toInt($hintEl.html())

            if ($hintEl.length === 0) return;
            
            const hasHint = $numEl.hasClass("text-decoration-line-through");
            const isBorrowed = hasHint && (hintNum % 10 - num !== 0)
            
            var newHintNum = hintNum;

            $numEl.removeClass("text-decoration-line-through");

            var borrow = false;
            if (hasHint) {
                if (num === 0 && hintNum === 9)
                    newHintNum = num;
                else if (isBorrowed)
                    newHintNum = hintNum + 1;
                else 
                    newHintNum = hintNum - 1;
            } else {
                newHintNum = num - 1;
                if (num === 0) borrow = true;
            }

            if (newHintNum < 0) newHintNum += 10;
            if (newHintNum === num) newHintNum = ""
            
            if (newHintNum !== "") {
                $numEl.addClass("text-decoration-line-through");
            }

            $hintEl.html(newHintNum);

            if (num === 0)
                setSubHint($numEl, borrow);
        }

        function mathSum(arr) {
            var t = 0;
            arr.forEach(function (i) {
                t += toInt(i);
            })
            return t
        }

        function mathSub(arr) {
            var t = arr[0]*2;
            arr.forEach(function (i) {
                t -= toInt(i);
            })
            return t
        }

        function mathSub2(arr) {
            const a1 = arr[0] - arr[1];
            const a2 = a1 - arr[2]
            return { a1, a2 }
        }

        function mathMul(arr) {
            return parseInt(arr[0]) * parseInt(arr[1])
        }

        function mathDiv(arr) {
            return parseInt(parseInt(arr[0]) / parseInt(arr[1]))
        }

        function mathDiv2(arr) {
            const a1 = parseInt(parseInt(arr[0]) / parseInt(arr[1]))
            const a2 = parseInt(arr[0]) % parseInt(arr[1])
            return { a1, a2 }
        }

        function getReverseNum(num) {
            const n = "" + (num || 0).toString()
            return n.split("").reverse()
        }

        function getDigit(num, digit) {
            const n = getReverseNum(num)
            return toInt(n[digit - 1] || "")
        }

        function genNum(start, end) {
            return toInt(Math.random() * (end - start + 1)) + start;
        }

        function setTime() {
            if (stopTime) return;
            var s = toInt((getTime() - time) / 1000);
            var m = toInt(s/60);
            s = s % 60;
            var timer = m + ":" + ("00"+s).substr(-2);
            $("#timer").html(timer)

            setTimeout(setTime, 500);
        }

        function show(j) {
            j.show().addClass("show").removeClass("hide")
        }

        function hide(j) {
            j.hide().removeClass("show").addClass("hide")
        }

        function getTime() {
            return new Date().getTime();
        }

        function toInt(i) {
            return parseInt(i) || 0;
        }
    </script>