    <script>
        function checkAnswer(pos, noStyleChange) {
            if (isNaN(pos))
                pos = currentQ;

            saveAnswer(pos);

            if (!noStyleChange)
                $(".mark0").html("").removeClass("text-danger").removeClass("text-success");

            const q = qList[pos];
            const a = aList[pos].a;
            aList[pos].m = false;

            var correct = false;
            var answer = -10000
            switch (operation) {
                case "&minus;":
                    answer = mathSub(q);
                    break;
                case "&plus;":
                    answer = mathSum(q);
                    break;
                case "&Cross;":
                    answer = mathMul(q);
                    break;
                case "&divide;":
                    answer = mathDiv(q);
                    break;
            }

            if (answer === a) correct = true;

            if (correct) {
                if (!noStyleChange)
                    $("#mark").html("&check;").addClass("text-success")
                aList[pos].m = true;
            } else {
                if (!noStyleChange) {
                    $("#mark").html("&cross;").addClass("text-danger")
                    setCorrectAnswer(answer);
                }
            }

            if (!noStyleChange) {
                $("#math-content input").prop('readonly', true);
                $("#btnSubmit").prop('disabled', true);
            }
        }

        function setCorrectAnswer(a) {
            const arr = []
            for (var i = 10; i > 0; i--) {
                if (a) {
                    const aa = getDigit(a, i)
                    if (!aa && arr.length === 0) continue;

                    arr.push(aa);
                    $("#ah" + i).html(aa);
                }

                // const b = aList[currentQ]["a" + i];
                // const brr = []

                // if (b) {
                //     for (var j = 10; j > 0; j--) {
                //         const bb = getDigit(b, j)
                //         if (!bb && brr.length === 0) continue;

                //         brr.push(bb);
                //         $("#a" + i + "_" + j).val(bb);
                //     }
                // }
            }
        }

        function checkAnswerAll() {
            checkAnswer();
            qList.forEach(function(q, i) {
                checkAnswer(i, true)
            })

            const c = aList.filter(function (a) {
                return a.m;
            })

            const cp = parseInt((c.length * 100) / qSize);
            $("#score").html(cp + "%")
            $(".toast").removeClass("show")
            stopTime = true;
        }
    </script>