    <div class="position-fixed top-0 start-0" style="z-index: 1000">
        <div id="toastRestart" class="toast hide bg-white text-dark position-fixed top-50 start-50 translate-middle p-3" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                <h3>Restart?</h3>
                <div class="mt-2 pt-2 border-top">
                    <button id="btnRestartYes" type="button" class="btn btn-danger px-3">Yes</button>
                    <button type="button" class="btn btn-secondary btn-close-toast px-5" data-bs-dismiss="toast">Cancel</button>
                </div>
            </div>
        </div>
        <div id="toastSubmitAll" class="toast hide bg-white text-dark position-fixed top-50 start-50 translate-middle p-3" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                <h3>Submit All?</h3>
                <div class="mt-2 pt-2 border-top">
                    <button id="btnSubmitAllYes" type="button" class="btn btn-success px-3">Yes</button>
                    <button type="button" class="btn btn-secondary btn-close-toast px-5" data-bs-dismiss="toast">Cancel</button>
                </div>
            </div>
        </div>
        <div id="toastSubmit" class="toast hide bg-white text-dark position-fixed top-50 start-50 translate-middle p-3" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                <h3>Submit?</h3>
                <div class="mt-2 pt-2 border-top">
                    <button id="btnSubmitYes" type="button" class="btn btn-success px-3">Yes</button>
                    <button type="button" class="btn btn-secondary btn-close-toast px-5" data-bs-dismiss="toast">Cancel</button>
                </div>
            </div>
        </div>
    </div>