* {
    touch-action: manipulation;
}

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 42em;
}

.nav-link {
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
}

.num_hint {
    top: 10%;
}

.num_hint_right {
    top: 10%;
    right: 10%;
}

.answer {
    right: 10%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.border-dashed {
    border-style: dashed!important;
}

.row .col {
    padding-left: 0px!important;
    padding-right: 0px!important;
}